.site-title {
    opacity: 0;
}

.site-title.fadeIn {
    animation: fadeIn 4s ease-in forwards;
}

.site-description {
    position: absolute;
    top: -250px;
    margin-left: 30px;
}

.site-description.swipeDown {
    animation: swipeDown 2s ease-in-out forwards;
}

@keyframes swipeDown {
    0% {
        top: -250px;
    }
    100% {
        top: 20px;
    }
}

@keyframes fadeIn {
    0%  {
        opacity: 0;
        font-size: 3em;
    }
    25% {
        opacity: 1;
        font-size: 2.8em;
    }
    50% {
        opacity: 0;
        font-size: 3.2em;
    }
    75% {
        opacity: 1;
        font-size: 2.8em;
    }
    100% {
        opacity: 1;
        font-size: 3em;
    }
}